name: quiz
description: A simple quiz app built using Flutter.
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  http: ^1.1.0
  google_fonts: ^6.3.2
  html_unescape: ^2.0.0
  flutter_launcher_icons: ^0.14.4

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

flutter_icons:
  android: "ic_launcher" 
  ios: true
  image_path: "assets_dev/app_logo.png"